* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Bender';
    src: url('./Font/Bender.otf');
    font-family: 'NotoSans';
    src: url('./Font/Novecento-Wide-Bold-2.otf');

  }

  body {
    font-family: NotoSans;
}

#avater{
    width: 15%;
    height: 15%;
    background-color: aqua;
    display: block;
    position: absolute;
}
#profilePicture{
    background-color: aliceblue;
    border-radius: 50px;
    display: block;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Llist{
    top: 15%;
    width: 15%;
    height: 90%;
    position: absolute;
    background-color: steelblue;
}
#TopEmblem{
    top: 85%;
    height: 15%;
    background-color: violet;
    left: 15%;
}
#Emblem{
}